<%= form_with(model: [ post, comment],
       data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} ) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6 shadow-xl p-2">
    <%= form.label :content, class: "block" %>
    <%= form.text_area :content, class: "my-custom-width" %>
  </div>

  <div class="flex flex-row-reverse p-2">
    <div class="p-1 text-white border-solid border-4 rounded-lg border-blue-500 bg-blue-500 hover:bg-blue-600 active:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 mb-8">
      <%= form.submit %>
    </div>
  </div>
<% end %>
